<form role="form" ng-submit="submitS()">
    <h4>Have you met with your project adviser for their review of your abstract and their approval to submit?</h4>

    <label for="metAdviserY"></label>
    <input id="metAdviserY" name="yesOrNoAdviser" value=True type="radio" ng-model="metWithAdviser"> Yes
    <br>
    <label for="metAdviserN"></label>
    <input id="metAdviserN" name="yesOrNoAdviser" value=False type="radio" ng-model="metWithAdviser"> No
    <br><br>




    <label for="presTitle">Title of Presentation </label>
    <br>
    <input required id="presTitle" type="text" ng-model="titleName" row="3" column="30">
    <br><br>



    <label for="formatOfPres">Format for Submission</label>
    <br>
    <select required id="formatOfPres" ng-model="format">
        <option ng-repeat="type in format">{{type}}</option>
    </select>
    <br><br>



    <label for="abstract">Artist Statement/Proposal/Abstract (1000 character limit, approx 250 words) </label>
    <br>
    <input required id="abstract" type="text" ng-model="abstract" row="3" column="30">
    <br>


    <!-- This doesn't work quite right now -->
    <!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->
    <label for="typeOfPresS">Type of Presentation (Choose One)</label>
    <br>
    <select required id="typeOfPresS" ng-model="type">
        <option ng-repeat="pres in type">{{pres}}</option>
    </select>
    <br>



    <h4>Space Constaints</h4>


    <label for="spaceConstraintY"></label>

    <input id="spaceConstraintY" value=True name="yesOrNoSpace" type="radio" ng-model="flexibleType"> Yes
    <br>
    <label for="spaceConstraintN"></label>

    <input id="spaceConstraintN" value=False name="yesOrNoSpace" type="radio" ng-model="flexibleType"> No
    <br>



    <label for="lastName">Last Name</label>
    <br>
    <input  required id="lastName" type="text" ng-model="lastName" size="30">
    <br>



    <label for="firstName">First Name</label>
    <br>
    <input   required id="firstName" type="text" ng-model="firstName" size="30">
    <br>


    <label for="lastNameCo">Last Name Co</label>
    <br>
    <input  id="lastNameCo" type="text" ng-model="lastNameCo" size="30">
    <br>



    <label for="firstNameCo">First Name Co</label>
    <br>
    <input  id="firstNameCo" type="text" ng-model="firstNameCo" size="30">
    <br>



    <label for="lastNameCo2">Last Name Co2</label>
    <br>
    <input  id="lastNameCo2" type="text" ng-model="lastNameCo2" size="30">
    <br>


    <label for="firstNameCo2">First Name Co2</label>
    <br>
    <input  id="firstNameCo2" type="text" ng-model="firstNameCo2" size="30">
    <br>


    <label for="presEmail">Presenter Email</label>
    <br>
    <input required id="presEmail" type="text" ng-model="studentEmail" size="30">
    <br>


    <label for="presEmailCo">Presenter Email Co</label>
    <br>
    <input  id="presEmailCo" type="text" ng-model="studentCoEmail" size="30">
    <br>


    <label for="presEmailCo2">Presenter Email Co2</label>
    <br>
    <input  id="presEmailCo2" type="text" ng-model="studentCo2Email" size="30">
    <br>



    <label for="disciplineProject">Academic Discipline for Project</label>
    <br>
    <input  required id="disciplineProject" type="text" ng-model="discipline" size="30">
    <br>



    <label for="sponsorOrganization">Sponsoring Organization or Fund (Choose Any Applicable)</label>
    <br>
        <label class = "stacked" ng-repeat="sponsor in sponsors">
            <input id="sponsorOrganization" type="checkbox" ng-value="{{sponsor}}" ng-true-value="{{sponsor}}" ng-false-value="" ng-model="sponsorsSelected[$index]">{{sponsor}}
            <br>
        </label>
    <br>


    {{sponsorsSelected}}

    <input class="btn btn-primary" type="submit" value="Submit Stuff">
</form>
